{% extends 'base_app/base_app.html' %}
{% load static %}

{% block title %}Courses - eLearning App{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/course_list.css' %}">

    <section class="course-list">
        <h1>All Courses</h1>

        <div class="search-sort-container">
            <form method="GET">
                <input type="text" name="search" placeholder="Search courses..." value="{{ search_query }}">
                <select name="sort">
                    <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Sort by Name</option>
                    <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Sort by Price</option>
                    <option value="course_length" {% if sort_by == 'course_length' %}selected{% endif %}>Sort by Length</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="course-cards">
            {% for course in courses %}
            <div class="course-card">
                <img src="{{ course.thumbnail.url }}" alt="{{ course.name }}" class="course-thumbnail">
                <h2>{{ course.name }}</h2>
                <p>{{ course.description|truncatewords:20 }}</p>
                <p class="course-price">₹{{ course.get_final_price|floatformat:2 }}</p>
                {% if course.discount > 0 %}
                    <p class="course-discount">₹{{ course.price }}</p>
                {% endif %}
                <a href="{% url 'course_detail' course.id %}" class="btn-see-more">See More</a>

            </div>
            {% empty %}
            <p>No courses found.</p>
            {% endfor %}
        </div>
    </section>
    

{% endblock %}