{% extends 'base_app/base_app.html' %}
{% load static %}

{% block title %}Courses - eLearning App{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/course_study.css' %}">
    <div class="course-container">
        <!-- Left Column: Dynamic Content Display -->
        <div class="left-content">
            <h1>{{ course.name }}</h1>

            <!-- Display selected resource -->
            {% if selected_resource %}
                <div class="selected-resource">
                    <h3>{{ selected_resource.resource_name }}</h3>
                    {% if selected_resource.resource_type == 'video' %}
                        <video controls>
                            <source src="{{ selected_resource.resource_file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% elif selected_resource.resource_type == 'document' %}
                        <a href="{{ selected_resource.resource_file.url }}" download class="download-link">Download Document</a>
                    {% elif selected_resource.resource_type == 'image' %}
                        <img src="{{ selected_resource.resource_file.url }}" alt="{{ selected_resource.resource_name }}">
                    {% elif selected_resource.resource_type == 'link' %}
                        <a href="{{ selected_resource.resource_link }}" target="_blank" class="resource-link">{{ selected_resource.resource_name }}</a>
                    {% endif %}
                </div>
            {% else %}
                <p>Please select a resource from the right sidebar.</p>
            {% endif %}
        </div>

        <!-- Right Column: Resource List -->
        <div class="right-sidebar">
            <h3>Course Resources:</h3>
            <ul class="resource-list">
                {% for resource in course.resources.all %}
                    <li>
                        <a href="{% url 'course_study_resource' course.id resource.id %}">{{ resource.resource_name }}</a>
                    </li>
                {% endfor %}
                {% if show_test_link %}
                    <div class="test-link">
                        <a href="{% url 'course_test' course.id %}" class="start-test-button">Take the Test</a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}