{% extends 'base_app/base_app.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- Home Page Content -->
    <section class="home-content">
        <p>We provide high-quality online courses designed to help you master new skills. Learn at your own pace with top-rated instructors.</p>

        <h1>Trending Courses</h1>

        <div class="course-cards">
            {% for course in trending_courses %}
            <div class="card">
                <img src="{{ course.thumbnail.url }}" alt="{{ course.name }}">
                <h2>{{ course.name }}</h2>
                <p class="finalprice">₹{{ course.get_final_price|floatformat:2 }} <span class="discount">{{ course.discount|floatformat:2 }}% off</span></p>
                <span class="price">₹{{ course.price|floatformat:2 }}</span></p>
                <div class="card-buttons">
                    <form method="POST" action="{% url 'enroll_course' course.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-enroll">Enroll Now</button>
                    </form>
                    <a href="{% url 'course_detail' course.id %}" class="btn-see-more">See More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}