{% extends 'base_app/base_app.html' %}
{% load static %}

{% block title %}My-Courses{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/my_courses.css' %}">
{% if purchased_courses %}

    <div class="courses-list">
        {% for payment in purchased_courses %}
        <div class="course-card">
            <img src="{{ payment.course.thumbnail.url }}" alt="{{ payment.course.name }}" class="course-thumbnail">
            <h2>{{ payment.course.name }}</h2>
            <p>{{ payment.course.description|truncatewords:30 }}</p>
            <p>Price: ₹{{ payment.course.get_final_price|floatformat:2 }}</p>
            <p>Enrolled on: {{ payment.payment_date|date:"d M Y" }}</p>
            <a href="{% url 'course_study' payment.course.id %}" class="btn btn-primary">Start Course</a>
        </div>
        {% endfor %}
    </div>
    
{% else %}
    <p>You haven't purchased any courses yet.</p>
{% endif %}

{% endblock %}